/*
Teal color (used for headings and backgrounds): #4aaaa5
Regular font color (used for paragraphs and all text besides the headings): #777777
Main header background color: #ffffff
Main header border color: #cccccc
Footer background color: #666666
Main content background color: #ffffff
Main content border color: #dddddd
*/

html {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Georgia', Times, Times New Roman, serif;
}

header {
  border-bottom: 2px solid #cccccc;
  background-color: #fff;
  position: relative;
  top: -10px;
  height: 58px;
}

p {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #777777;
  padding-top: 10px;
  line-height: 2;
}

header h1 {
  background-color: #4eaaa4;
  color: #fff;
  float: left;
  margin: 0;
  margin-left: 10%;
  padding: 15px;
  width: 300px;
  text-align: center;
}

header ul {
  list-style-type: none;
  margin: 0;
  margin-right: 15%;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}

header li {
  float: right;
}

header a {
  color: #777777;
  display: inline-block;
  padding: 20px;
  text-align: center;
  text-decoration: none;
}

footer {
  background-color: #666666;
  border-top: 5px solid #4eaaa4;
  color: #dddddd;
  height: 50px;
  margin-top: -50px;
  text-align: center;
  padding-bottom: 10px;
}

.about-me {
  background-color: #fff;
  border: 1px solid #dddddd;
  clear: both;
  color: #777777;
  margin: 10px 10% 150px;
  max-width: 960px;
  padding: 20px;
}

.about-me h1 {
  color: #4eaaa4;
}

.background {
  background-image: url("../images/circles-light.png");
}

.self {
  width: 200px;
  height: 200px;
  float: left;
  margin: 20px 20px 15px 0px;
}